
  
  .heroSection {
    height: 70vh;
    background-image: linear-gradient(to bottom, rgba(196, 212, 196, 0.288), rgb(0, 0, 0)), url('https://parajesdemaza.com/images/slide/5.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: rgb(254, 255, 255);
  }
  
  .container {
    width: 90%;
    margin: 0 auto;
  }
  
  .heroText {
    width: 650px;
    position: absolute;
    bottom: 40px;
    right: 40px;
    text-align: right;
  }
  
  .heroWelcomeText {
    margin: 0;
    padding: 0;
    font-size: 24px;
    margin-bottom: -10px;
  }
  
  .heroCountry {
    font-size: 60px;
    margin: 0;
    padding: 0;
  }
  
  .heroTextDescription {
    margin: 0;
    padding-bottom: 20px;
  }
  
.beneficios{
  padding: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(241, 241, 234);
  gap:30px
}
.tarjeta {
  width: 400px;
  height: 254px;
  border-radius: 20px;
  background: #f8fefd;
  box-shadow: 15px 15px 30px #100e0e,
             -15px -15px 30px #ffffff;
}
.image{
  width: 150px;
  height: 150px;
}

.tarjeta-content {
  padding: 10px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.tarjetaContent .tarjetaTitle {
  font-size: 15px;
  font-weight: 600;
  color: inherit;
  text-transform: uppercase;
}

.tarjetaContent .tarjetaPara {
  color: inherit;
  opacity: 0.8;
  font-size: 14px;
}

/* .tarjeta:hover {
  transform: rotateY(10deg) rotateX(10deg) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
} */

/* .tarjeta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  z-index: 1;
} */
/* 
.tarjeta:hover:before {
  transform: translateX(-100%);
}

.tarjeta:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  z-index: 1;
}

.tarjeta:hover:after {
  transform: translateX(100%);
} */
