.mainFooter{
    background: #282828;
    color: #828282;
    margin-top:20px;
  }
  .mainFooter .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footerTitle{
    font-size: 1.8em;
    color: white;
    text-transform: uppercase;
  }
  .column5025 {
    width: 49%;
    padding: 20px;
  }
  .footerAuthor{
    text-align: right;
    color: #EEAD33;
    display: block;
  }
  .footerTxt .fa-twitter{
    color: #3bbef5;
    margin-right: 5px;
  }
  .footerLink{
    color: #EEAD33;
  }
  .footerDate{
    font-size: .8em;
    border-bottom: 1px solid #888;
    padding-bottom: 10px;
    color: white;
  }
  .socialIcon{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap:20px;
  }
  .social-icon i {
    margin-right: 10px;
    width: 35px;
    height: 35px;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 50%;
    
  }
  .social-icon .fa-facebook-f{
    background: #3b5998;
  }
  .social-icon .fa-twitter{
    background: #3bbef5;
  }
  .social-icon .fa-dribbble{
    background: #f7659b;
  }
  .social-icon .fa-pinterest{
    background: #e23139;
  }
  
  .social__link{
    display: block;
    text-decoration: none;
    color: #828282;
  }
  .contactIcon{
    display: flex;
    align-items: center;
  }
  .contactIcon .fas{
    color: white;
    display: block;
    margin-right: 10px;
  }
  .copy{
    background: #211E1E;
    padding: 20px;
    color: white;
    text-align: center;
    width: 100%;
  }