.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(190, 190, 190),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
  }
  /* .form-signin:hover {
    transform: scale(1.05);
    border: 1px solid black;
  } */
.bgcolor{
  background-image: url('https://parajesdemaza.com/images/lomas2.png'); /* Reemplaza esta URL con la de tu imagen */
  background-size:auto;
  background-position: center;
  background-repeat: no-repeat;
}
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }